@use '@/styles/common/import/variables' as *;

.comment {
  //min-height: 80rem;
  display: flex;
  justify-content: center;
  align-items: center;
  // background: $dark-color;
  .contents {
    width: 100%;
    height: 100%;
  }
  .title {
    font-size: 5rem;
    font-weight: 700;
  }
  .commt {
    margin-top: 3rem;
  }
}