@use '@/styles/common/import/variables' as *;

/* My Experience*/
.exp__wrapper {
  margin: 4rem 0;
  > h3 {
    width: 100%;
    display: block;
    margin: 1rem 0;
    text-align: left;
    font-size: 1.8rem;
    font-weight: normal;
    color:#fff;
  } 
  .exp__wrap {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .exp__box {
    position: relative;
    width:100%;
    border: 1px solid #fff;
    border-radius: 6px;
    padding: 5rem;
    text-align: left;
    box-sizing: border-box;
    
    &::after {
      content: '';
      display: block;
      position: absolute;
      top: 1px;
      left: 22px;
      width: 1px;
      height: 3rem;
      background: #fff;
      transform: skewX(-135deg);
    }
    .tit, .tit2, .tit3 {
      position: relative;
      display: inline-block;
      font-size: 2.2rem;
      font-weight: 500;
      color: #fff;
      z-index: 0;
    }
    .skill {
      font-size: 1.4rem;
      margin: 2rem 0;
      opacity: .9;
    }
    .icon {
      margin: 3rem 0;
      >span {
        margin: 0.5rem;
        img {
          width: 2.8rem;
          height: 2.8rem;
        }
      }
    }
    .date {
      font-size: 1.4rem;
      opacity: 0.5;
    }
    .txt {
      margin-top: 2.5rem;
      opacity: 0.8;
      font-size: 1.2rem;
      font-weight: normal;
      > ul {
        > li {
        position: relative;
        text-align: left;
        padding-left: 0.8rem;
        line-height: 1.6;
          &::after {
            display: block;
            content: '';
            position: absolute;
            top: 10px;
            left: 0;
            width: 2px;
            height: 2px;
            background: #fff;
          }
        }
      } 
    }
    .company {
      font-size: 1.8rem;
      font-weight: 600;
      margin: 0.3rem 0;
    }
  }
}

@media (min-width: 768px) {
  .exp__wrapper {
    .exp__wrap {
      flex-direction:row;
      .exp__box {
        width: 50%;
        padding: 5rem 2rem;
        .skill {
          margin: 2rem 0;
        }
        
      }
    }
  }
}

@media (min-width: 992px) {
  .exp__wrapper {
    .exp__wrap {
      .exp__box {
        width: 33.33%;
      }
    }
  }
}

@media (min-width: 1200px) {
  .exp__wrapper {
    .exp__wrap {
      .exp__box {
        padding: 4rem;
      }
      .skill {
        margin: 2rem 5rem;
      }
    }
  }
}