@use '@/styles/common/import/variables' as *;

.footer {
  text-align: center;
  padding: 1rem 0;
  background-color:#3d3b37;
  color: #fff;
  border-top: 1px solid #706b63;
  p {
    font-size: 1.2rem;
    opacity: .6;
  }
}