@use '@/styles/common/import/_variables' as *;

.open {
  overflow: hidden;
}

header {
  position: relative;
  #header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 6rem;
    z-index: 999;
    transition: all 0.3s ease;
    /* scrolled class 추가 시 적용 */
    &.scrolled {
      background: rgb(241, 231, 206,.8);
      backdrop-filter: blur(10px);
      -webkit-backdrop-filter: blur(10px);
      // box-shadow: 0 2px 20px rgba(0, 0, 0, 0.1);
    }
    .header__in {
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: 6rem;
      padding: 0 1rem;
      .logo {
        a {
          display: inline-block;
          line-height: 6rem;
          padding: 0 .5rem;
          font-weight: 700;
          font-size: 2rem;
          letter-spacing: -0.05rem;
        }
      }
      .gnb {
        .gnb__btn {
          display: block;
          position: relative;
          z-index: 10;
          span {
            display: block;
            width: 2rem;
            height: 2px;
            background-color: $dark-color;
            margin-bottom: .5rem;
            transition: .5s;
          }
          &.active {
            display: block;
            span {
              &:nth-child(1) {
                transform: rotate(45deg) translate(0px, 6px);
              }
              &:nth-child(2) {
                transform: rotate(-45deg) translate(1px, -6px);
              }
              &:nth-child(3) {
                display: none;
              }
            }
          }
        }
        > ul {
          display: none;
          position: absolute;
          top: 6rem;
          left: 0;
          width: 100%;
          height: 100vh;
          background: $dark-color;
          z-index: 99;
          &.active {
            display: flex;
            flex-direction: column;
            align-items: center;
            
          }
          li {
            width: 100%;
            text-align: right;
            a {
              display:block;
              color: $white-color;
              padding: 0 3rem;
              line-height: 5rem;
              font-size: 1.6rem;
              color: $beige-color;
              &:hover {
                background: rgb(241, 231, 206,.05);
              }
            }
          }
        }
      }
    }
  }

}

@media (min-width: 768px) {
  header {
    #header {
      .header__in {
        .gnb {
          height: 6rem;
          .gnb__btn {
            display: none;
          }
          > ul {
            display: flex;
            position: relative;
            width: 100%;
            top: 1rem;
            flex-direction: row;
            align-items: center;
            height:5rem;
            background: transparent;
            li {
              text-align: center;
              span {
                display: inline;
                background: transparent;
                color: $dark-color;
                transition: .2s;
                cursor: pointer;
                &:hover {
                  border-bottom: 4px solid $dark-color;
                  padding-bottom: 1.3rem;
                  background: transparent;
                  color: #000;
                }
              }
            }
          }       
        }
      }
    }
  }
}
