header {
  position: relative;
  #header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    .header__in {
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: 6rem;
      padding: 0 2rem;
      .logo {
        a {
          display: inline-block;
          line-height: 6rem;
          padding: 0 .5rem;
          font-weight: 700;
          font-size: 2.4rem;
        }
      }
      .gnb {
        .gnb__btn {
          display: block;
          span {
            display: block;
            width: 2.5rem;
            height: 2px;
            background-color: #000;
            margin-bottom: .5rem;
          }
          &.active {
            display: block;
            span {
              &:nth-child(1) {
                transform: rotate(45deg) translate(5px, 5px);
              }
              &:nth-child(2) {
                transform: rotate(-45deg) translate(5px, -5px);
              }
            }
          }
        }
        > ul {
          display: none;
          // display: flex;
          li {
            a {
              display: inline-block;
              padding: 0 3rem;
              line-height: 6rem;
            }
          }
        }
      }
    }
  }

}
