@use '@/styles/common/import/variables' as *;

section {
  position: relative;
  width: 100%;
  min-height: 100vh;
  background-color: $beige-color;
  &.dark {
    background-color: $dark-color;
    color: #e4e4e4;
  }
  .contents {
    padding: 2rem 0;
    .inner {
      padding: 5rem 2rem;
      text-align: center;
    }
    
  }
}


/* Intro 고정 및 오버레이 */
#intro {
  position: sticky;
  top: 0;
  z-index: 1;
}

#experience, #project, #comment {
  position: relative;
  z-index:10;
}


.footer {
  text-align: center;
  padding: 1rem 0;
  background-color:#3D7CDE;
  color: $dark-color;
  border-top: 1px solid #252525;
  p {
    font-size: 1.4rem;
  }
}