@use '@/styles/common/import/variables' as *;

/* Pjoject*/
.proj__wrapper {
  margin-top: 6rem;
  display: flex;
  flex-direction: column;
  gap: 20px;
  .proj__box {
    position: relative;
    width: 100%;
    height: 40rem;
    border-radius: 10px;
    overflow: hidden;
    background: $dark-color;
    box-sizing: border-box;
    .item {
      width: 100%;
      height: 100%;
      a {
        display: block;
        width: 100%;
        height: 100%;
        .proj__thumbnail {
          display: block;
          width: 100%;
          height: 100%;
          transition: .5s;
          &::after {
            content: '';
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, .6);
            z-index: 1;
          }
          &:hover {
            scale: 1.5;
            opacity: .4;
          }
          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
          }
        }
        .proj__title {
          position: absolute;
          bottom: 0;
          color: #fff;
          height: 10rem;
          width: 100%;
          padding:1.5rem 2.5rem 0 2.5rem;
          text-align: left;
          background-color: $dark-color;
          box-sizing: border-box;
          z-index: 10;
          // outline: 1px dotted #fff;
          .tit {
            font-size: 1.8rem;
          }
          .skill {
        
          }
        }
      }
    }
  }
}

@media (min-width: 992px) {
  .proj__wrapper {
    .exp__box {
      width: 33.33%;
      
    }
  }
}

@media (min-width: 768px) {
  .proj__wrapper {
    display: flex;
    flex-direction:row;
    .proj__box {
      width: 50%;
    }
  }
}