@use '@/styles/layout/layout.scss';
@use '@/styles/common/import/_variables' as *;

#aboutme {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  &.circle {
    background: radial-gradient(circle at center, #979285 0%, #1c1c1f 32%);
    background-position: center center;
    animation: gradient 10s ease-in-out infinite;
    @keyframes gradient {
      0% {
        background-size: 130% 130%;
      }
      25% {
        background-size: 160% 160%;
      }
      55% {
        background-size: 130% 130%;
      }
      75% {
        background-size: 160% 160%;
      }
      100% {
        background-size: 130% 130%;
        
      }
    }
    
  }
  .aboutme__text {
    text-align: center;
    color: $beige-color;
    padding: 0 5rem;
    font-size: 2.1rem;
    letter-spacing: -0.02rem;
    font-weight: 700;
    word-break: keep-all;
  }
  .aboutme__subtext {
    text-align: center;
    color: $beige-color;
    opacity: 0.8;
    padding: 0 5rem;
    font-size: 1.6rem;
    line-height: 1.6;
    font-style: italic;
    letter-spacing: -0.02rem;
    margin-top: 3rem;
    word-break: keep-all;
  }
}


@media (min-width: 768px) {
  #aboutme {
    .aboutme__text {
      font-size: 2.8rem;
    }
    .aboutme__subtext {
      font-size: 1.8rem;
    }
  }
}

@media (min-width: 992px) {
  #aboutme {
    .aboutme__text {
      font-size: 3.4rem;
    }
    .aboutme__subtext {
      font-size: 2rem;
    }
  }
}


@media (min-width:1400px) {
  #aboutme {
    &.circle {
      background: radial-gradient(circle at center, #979285 0%, #1c1c1f 30%);
      background-position: center center;
      animation: gradient2 10s ease-in-out infinite;
      @keyframes gradient2 {
        0% {
          background-size: 120% 120%;
        }
        25% {
          background-size: 160% 160%;
        }
        55% {
          background-size: 120% 120%;
        }
        75% {
          background-size: 160% 160%;
        }
        100% {
          background-size: 130% 130%;
        }
      }
    }
    .aboutme__text {
      font-size: 3.6rem;
      }
      .aboutme__subtext {
        font-size: 2rem;
      }
    }
}
