@use '@/styles/common/import/variables' as *;

.comment {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  .contents {
    width: 100%;
    height: 100%;
    .quotes {
      display: block;
      width: 100%;
      height: 76px;
      text-align: center;
      &__icon {
        display: inline-block;
        width: 60px;
        height: 76px;
        background: {
          image:url('/src/assets/images/icon/quotes.png');
          repeat: no-repeat;
          position: 0 0;
          size: 60px 76px;
        }
        opacity: 0.65;
        &:first-child {
          margin-right: -15px;
        }
      }
    }
    .commt__text {
      margin-top: 3rem;
      position: relative;
      &::after{
        content: '';
        display: block;
        width: 1px;
        min-height: 5rem;
        background-color: $dark-color;
        position: absolute;
        left: 50%;
        transform: translateX(-50%) rotate(35deg);
      }
      p {
        letter-spacing: -0.05rem;
        font-size: 1.8rem;
        text-align: center;
        padding:0 2rem 3.5rem;
        word-break: keep-all;
        strong {
          font-weight: 700;
          font-style: italic;
          font-size: 2rem;
        }
      }
      
    }
    .commt__sns {
      padding-top: 10rem;
      text-align: center;
      word-break: keep-all;
      button {
        margin: 2rem 0.5rem;
        border: 1px solid $dark-color;
        border-radius: 50px;
        font-size: 1.6rem;
        line-height: 3.5rem;
        padding: 0 2rem;
        transition: 0.5s;
        svg {
          display: inline-block;
          width: 0;
          height: 1.6rem;
          vertical-align: middle;
          opacity: 0;
          visibility: hidden;
          transition: .5s;
        }
        &:hover {
          background: $dark-color;
          color:#fff;
          padding:0 3rem 0 2rem;
          svg {
            padding-right: 0.5rem;
            width: 1.6rem;
            opacity: 1;
            visibility: visible;
          }
        }
      }
    }
  }
}

.waves__container {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  .waves {
    width: 100%;
    //height: 25vh;
    margin-bottom: -6px; /*Fix for safari gap*/
    min-height: 100px;
    max-height: 150px;
  }
}

/* Animation */
.parallax > use {
  animation: move-forever 55s cubic-bezier(0.55,.5,0.45,.5) infinite;
}
.parallax > use:nth-child(1) {
  animation-delay: -10s;
  animation-duration: 7s;
}
.parallax > use:nth-child(2) {
  animation-delay: -15s;
  animation-duration: 10s;
}
.parallax > use:nth-child(3) {
  animation-delay: -10s;
  animation-duration: 13s;
}
.parallax > use:nth-child(4) {
  animation-delay: -20s;
  animation-duration: 20s;
}
@keyframes move-forever {
  0% {
      transform: translate3d(-90px, 0, 0);
  }
  100% {
      transform: translate3d(85px, 0, 0);
  }
}
/* Shrinking for mobile */
@media(max-width: 768px) {
  .waves {
      height: 40px;
      min-height: 40px;
  }
  .commt__text {
    p {
      font-size: 1.6rem;
    }
  }
}