@use '@/styles/common/import/variables' as *;
@use '@/styles/common/import/mixin' as *;

/* Pjoject*/
.proj__wrapper {
  margin-top: 6rem;
  display: flex;
  flex-direction: column;
  gap: 20px;
  .proj__tab {
    position: relative;
    width: 100%;
    margin-bottom: 20px;
    ul {
      display: flex;
      justify-content: center;
      gap: 10px;
      li {
        width: 12rem;
        font-size: 1.8rem;
        font-weight: 500;
        line-height: 3.5rem;
        border: 1px solid $dark-color;
        border-radius: 40px;
        text-align: center;
        cursor: pointer;
        transition: all 0.3s ease;
        &.active {
          color: #fff;
          background: $dark-color;
          border-color: $dark-color;
        }
      }
    }
  }
  .proj__box__wrapper {
    .proj__box {
      position: relative;
      width: 100%;
      margin-bottom: 20px;
      border-radius: 6px;
      overflow: hidden;
      background: $dark-color;
      box-sizing: border-box;
      .item {
        position: relative;
        width: 100%;
        height: 100%;
        cursor: pointer;
        .proj__item-link {
          display: block;
        }
        .proj__thumbnail {
          position: relative;
          display: block;
          width: 100%;  
          height: 100%;
          transition: .5s;
          &::after {
            content: '';
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, .05);
            z-index: 1;
          }
          .proj__desc {
            position: absolute;
            top: 50%;
            left: 50%;
            width: 100%;
            transform: translate(-50%, 0);
            font-size: 1.6rem;
            color: #fff;
            box-sizing: border-box;
            text-align: center;
            transition: all 0.3s ease;
            z-index: 11;
            opacity: 0;
          }  
          &:hover {
            &::after {
              background: rgba(0, 0, 0, .7);
            }
            .proj__desc {
              opacity: 1;
            }
          }
          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: top;
            transition: all 0.3s ease;
          }
        }
        .proj__title {
          position: relative;
          color: #fff;
          min-height: 23rem;
          width: 100%;
          padding:2rem 2.5rem;
          text-align: left;
          background-color: $dark-color;
          box-sizing: border-box;
          z-index: 10;
          .tit {
            font-size: 1.8rem;
          }
          .type {
            display: none;
          }
          .desc {
            font-size: 1.6rem;
            opacity: .6;
            margin-top: 1rem;
            min-height: 3rem;
          }
          .skill {
            margin: 1.5rem 0;
            span {
              display: inline-block;
              font-size: 1.2rem;
              background: #2b2f3c;
              color: #fff;
              opacity: .8;
              padding: 0.5rem 1rem;
              border-radius: 0.3rem;
              margin-right: 0.5rem;
              margin-bottom: 0.5rem;
            }
          }
          .btn_site {
            position: absolute;
            bottom: 2.5rem;
            right: 3rem;
            font-size: 1.4  rem;
            color: #fff;
            opacity: .5;
            transition: .3s;
            span {
              &:first-child {
                margin-right: 2.5rem;
              }
            }
            @include arrow-icon();
            
          }
        }
        &:hover .btn_site {
          opacity: 1;
        }
      }
    }

  }
}

/**
* Modal Popup 그대로 가고
* 모바일 -> .modal__content => width: 100%;
* 992px -> .modal__content => max-width: 80%;
* 1400px -> .modal__content => max-width: 1440px
*/


/* Modal popup */
.modal__popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 1.5rem;
  background: rgba(0, 0, 0, .65);
  z-index: 99;
  .modal__content { 
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    background: $dark-color;
    border-radius: 10px;
    padding: 3.5rem 1rem 3.5rem 5rem;
    box-sizing: border-box;
    color: #fff;
    text-align: left;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, .5);
    h3 {
      font-size: 2.5rem;
      font-weight: 500;
      margin: 2rem 2rem 2rem 0;
      color: #fff;
      text-align: center;
      word-break: keep-all;
    }
    .modal__desc__intro {
      text-align: center;
      color: #898b92;
      margin-bottom: 2rem;
      font-size: 1.5rem;
      width: 65%;
      margin: 0 auto;
      word-break: keep-all;
      white-space: pre-line;
    }
    .btn__site {
      border-bottom: 1px solid #4d4d57;
      margin: 2rem 4rem 0 0;
      padding-bottom: 2rem;
      text-align: center;
      a {
        display: inline-block;
        text-align: left;
        margin:0.5rem;
        padding: 0 2.5rem;
        line-height: 3.5rem;
        background: #3f3f4b;
        color: #fff;
        border-radius: 0.5rem;  
        font-size: 1.4rem;
        transition: 0.3s;
        span {
          display: inline-block;
          vertical-align: middle;
        }
        svg {
          width: 2rem;
          height: 2rem;
          margin-right: 0.5rem;
          vertical-align: middle;
        }
        &:hover {
          background: #fff;
          color: $dark-color;
        }
      }
    }
    .btn__close {
      position: absolute;
      right: 2rem;
      top: 2rem;
      span {
        font-size: 2rem;
        color: #fff;
      }
    }
    .modal__inner {
      overflow: hidden auto;
      height: calc(100% - 25rem);
      padding: 2rem 0;
      margin-top: 2rem;
      box-sizing: border-box;
      &::-webkit-scrollbar {
        width:1.3rem;
      }
      &::-webkit-scrollbar-thumb {
        background: rgba(255, 255, 255, 0.6);
        border-radius: 1rem;
        border: 5px solid $dark-color;
      }
      &::-webkit-scrollbar-track {
        background: $dark-color;  
        border-radius: 1rem;
      }
      

      // 2026-02-05
      div {
        width: 90%;
        margin-bottom: 3rem;
        .modal__desc__title { 
          font-size: 2rem;
          font-weight: 500;
          margin: 1rem 0;
        }
        .modal__desc__list {
          padding-left: 1rem;
          li {
            font-size: 1.6rem;
            margin: 0.5rem 0;
            padding-left: .5rem;
            color: #ccc;
            white-space : pre-line;
            word-break: keep-all;
            &::before { 
              content: '';
              display: inline-block;
              width: 0.5rem;
              height: 0.5rem;
              background: $white-color;
              border-radius: 50%;
              margin-right: .6rem;
              vertical-align: middle;
              margin-top: -0.2rem;
            }
            span.point {
              color: $white-color;
              font-weight: 500;
            }
            span.title {
              display: inline-block;
              width: 7rem;
            }
            span.label {
              display: inline-block;
              font-size: 1.4rem;
              background: #3a4052;
              color: $white-color;
              opacity: .8;
              padding: 0.3rem 1rem;
              border-radius: 0.3rem;
              margin: 0.5rem 0 0 1rem;
            } 
          } 
        }
      }
    }
    
    .img__wrap {
      margin-top: 2rem;
      border-radius: 0.5rem;
      overflow: hidden;
    }
  }
}

@media (min-width: 768px) {
  .modal__popup {
    .modal__content {
      max-width: 80%;
    }
  }
}

@media (min-width: 992px) {
  .proj__wrapper {
    .proj__box__wrapper {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: flex-start;
      gap: 20px;
      .proj__box {
        width: calc(100% / 3 - 20px);
        
      }
    }
  }
} 

@media (min-width:1400px) {
  .modal__popup {
    .modal__content {
      max-width: 100rem;
    }
  }
}
